
<div style="padding:5px;">
</div>
<div style="padding:0 5px 5px 5px;">
<h4 style="float:left">ZoneType List</h4>
<span style="float:right"><input type="button" value="add" class="cls-button" onclick="javascript:jQuery.dialog.open('content/ZoneType/ZoneTypeAdd.html',{id:'memdiv',width :740,height :350,title:'ZoneTypeAdd'})"/></span>
<div class="clearboth"></div>
<table class="table_B">
        <thead>
            <tr>
                <th width="40"></th>
                <th>ZoneType</th>
				<th>Document</th>
                <th>NON-Document</th>
				<th>Economy</th>
                <th>Remark</th>
                <th>Is Available</th>
            
            </tr>
        </thead>
        <tbody>
           
            <tr id="content/ZoneType/ZoneTypeAdd.html" ondblclick="addContent(this)">
            	
                <td></td>
                <td>13Zone</td>
				<td>15D/12D/8D</td>
                <td>15N/12N/8N</td>
                <td>48N</td>
                <td>WeightBand for</td>
                <td><input name="" type="checkbox" checked="true" /></td>
            </tr>
            <tr id="content/ZoneType/ZoneTypeAdd.html" ondblclick="addContent(this)">
            	<td></td>
                <td>13Zone</td>
				<td>15D/12D/8D</td>
                <td>15N/12N/8N</td>
                <td>48N</td>
                <td>WeightBand for</td>
                <td><input name="" type="checkbox" checked="true" /></td>
            </tr>
            <tr id="content/ZoneType/ZoneTypeAdd.html" ondblclick="addContent(this)">
            	<td></td>
                <td>13Zone</td>
				<td>15D/12D/8D</td>
                <td>15N/12N/8N</td>
                <td>48N</td>
                <td>WeightBand for</td>
                <td><input name="" type="checkbox" checked="true" /></td>
            </tr>
        </tbody>
    </table>

</div>

