<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
 <HEAD>
  <TITLE> Product Create</TITLE>
 <link href="../../css/main.css" rel="stylesheet" type="text/css" />
 <script type="text/javascript" src="../../js/jquery-1.7.2.min.js"></script>
 </HEAD>
  <BODY>
<div style="padding:5px;">
	<h4 class="title">ZoneType Create</h4>
    <table class="modify">
        <thead>
        	
             <tr>
                <th style="text-align:right;">ZoneType*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <td>
                	<select name="1">
                		<option value="D">
                			8Zone
                			</option>
                			<option value="N">
                			13Zone
                			</option>
                		</select>
                </td>
                 <th style="text-align:right;">DOCUMENT*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <td><select name="1">
                		<option value="D">
                			15D/12D/8D
                			</option>
                			<option value="N">
                			15D/12D/8D
                			</option>
                			<option value="48N">
                			15D/12D/8D
                			</option>
                		</select>
                </td>
            </tr>
            <tr>
            	<th style="text-align:right;">NON-DOCUMENT*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </th>
                <td><select name="1">
                		<option value="D">
                			15N/12N/8N
                			</option>
                			<option value="N">
                			15N/12N/8N
                			</option>
                			<option value="48N">
                			15N/12N/8N
                			</option>
                		</select></td>
                <th style="text-align:right;">Economy*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <td><select name="1">
                		<option value="D">
                			48N
                			</option>
                			<option value="N">
                			48N
                			</option>
                			<option value="48N">
                			48N
                			</option>
                		</select>
                </td>
            </tr>
			 <tr>
            	<th style="text-align:right;">Is Available*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </th>
                <td ><input type="checkbox"></td>
				<th style="text-align:right;">remark&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </th>
                <td><input type="text" ></td>
            </tr>
            <tr>
            	<td align="right" colspan="4">
            		<input type="button" value="save" class="cls-button"  id="content/ChargeableWeightBand/weightBandCreate.html"  onclick="addContent(this)"/>
            		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            		<input type="button" value="close" class="cls-button"  id="index.html"  onclick="window.location.href='index.html';"/>
            		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            		</td>
            	</tr>

        </thead>
    </table>
</div>
 </BODY>
</HTML>