
<div style="padding:0 5px 5px 5px;">
<h4 style="float:left">zoneGroup List</h4>
<span style="float:right"><input type="button" value="add" class="cls-button" onclick="javascript:jQuery.dialog.open('content/ZoneGroup/ZoneGroupAdd.html',{id:'memdiv',width :740,height :350,title:'ZoneGroupAdd'})"/>
	&nbsp;&nbsp;&nbsp;
	<input type="button" value="upload" class="cls-button" onclick="javascript:jQuery.dialog.open('content/ZoneGroup/zoneGroupUpload.html',{id:'memdiv2',width :740,height :350,title:'zoneGroupUpload'})"/></span>
<div class="clearboth"></div>
<table class="table_B">
        <thead>
            <tr>
                <th width="40"></th>
                <th>ZoneType</th>
				<th>Zone</th>
                <th>Remark</th>
            </tr>
        </thead>
        <tbody>
           
            <tr id="content/ZoneGroup/ZoneGroupAdd.html" ondblclick="addContent(this)">
            	
                <td></td>
                <td>13zone</td>
				<td>zone1</td>
                <td></td>
            </tr>
            <tr id="content/ZoneGroup/ZoneGroupAdd.html" ondblclick="addContent(this)">
            	<td></td>
                <td>13zone</td>
				<td>zone2</td>
                <td></td>
            </tr>
            <tr id="content/ZoneGroup/ZoneGroupAdd.html" ondblclick="addContent(this)">
            	<td></td>
                <td>13zone</td>
				<td>zone3</td>
                <td>13</td>
            </tr>
			 <tr id="content/ZoneGroup/ZoneGroupAdd.html" ondblclick="addContent(this)">
            	
                <td></td>
                <td>8zone</td>
				<td>zone1</td>
                <td></td>
            </tr>
            <tr id="content/ZoneGroup/ZoneGroupAdd.html" ondblclick="addContent(this)">
            	<td></td>
                <td>8zone</td>
				<td>zone2</td>
                <td></td>
            </tr>
            <tr id="content/ZoneGroup/ZoneGroupAdd.html" ondblclick="addContent(this)">
            	<td></td>
                <td>8zone</td>
				<td>zone3</td>
                <td>13</td>
            </tr>
        </tbody>
    </table>

</div>

