<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="css/login.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="top"></div>
<div class="container">
  <h1 class="welcome"> Welcome to TNT Express PT System </h1>
  <div class="content">
    <div class="left"></div>
    <div class="right">
      <form action="index.html">
        <table width="510" >
          <tr>
            <td width="150px">&nbsp;</td>
            <td width="80px"><label>username：</label></td>
            <td ><input type="text" style="height:27px;"  /></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td><label>password：</label></td>
            <td><input type="password" style="height:27px;"/></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td colspan="2" ><input type="submit" id="sub" value="submit"/>
              &nbsp;&nbsp;
              <input type="reset" id="reset"  value="reset"/></td>
            <td>&nbsp;</td>
          </tr>
        </table>
      </form>
    </div>
  </div>
  <div class="clearboth"></div>
  <div class="bottom">
    <h4><span></span></h4>
    <div class="copyright"> Intellectual and other property rights to the information contained in this site are held by TNT Holdings B.V. with all rights reserved © 2011 </div>
  </div>
</div>
</body>
</html>
