<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>New PT-Discount Confirmed</title>
</head>
<script language="JavaScript">
	
</script>
<body>
<form action="#">
	<div style="padding:5px;">
<table class="table_A">
        <thead>
             <tr>
                <td style="text-align:center;">Zone.</td>
                <td>
                	<input type="13 Zone" disabled="disabled" />
                </td>
								<td><input type="button" value="query" class="cls-button"/> </td>
            </tr>
        </thead>
    </table>
</div>
<div>
<div style="padding:0 5px 5px 5px;">
<h4 style="float:left">Discount rate List</h4>
<div class="clearboth"></div>
<table class="table_B" width="100%">
        <thead>
						<tr align="center">
                <th colspan="14" style="text-align:center;">Discounts Requested (% off full tariff)</th>
            </tr>
            <tr>
                <th >PRODUCT</th>
                <th >Zone1</th>
                <th >Zone2</th>
                <th >Zone3</th>
                <th >Zone4</th>
                <th >Zone5</th>
                <th >Zone6</th>
                <th >Zone7</th>
                <th >Zone8</th>
                <th >Zone9</th>
                <th >Zone10</th>
                <th >Zone11</th>
                <th >Zone12</th>
                <th >Zone13</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>15D/12D/10D/09D</td>
                <td><input type="text" value="0" size="3"   /></td>
                <td><input type="text" value="0" size="3"    /></td>
                <td><input type="text" value="0" size="3"    /></td>
                <td><input type="text" value="0" size="3"    /></td>
                <td><input type="text" value="0" size="3"    /></td>
                <td><input type="text" value="0" size="3"    /></td>
                <td><input type="text" value="0" size="3"    /></td>
                <td><input type="text" value="0" size="3"    /></td>
                <td><input type="text" value="0" size="3"    /></td>
                <td><input type="text" value="0" size="3"    /></td>
                <td><input type="text" value="0" size="3"    /></td>
                <td><input type="text" value="0" size="3"    /></td>
                <td><input type="text" value="0" size="3"    /></td>

            </tr>
            <tr>
                <td>15N/12N/10N/09N</td>
                <td><input type="text" value="0" size="3"    /></td>
                <td><input type="text" value="0" size="3"    /></td>
                <td><input type="text" value="0" size="3"    /></td>
                <td><input type="text" value="0" size="3"    /></td>
                <td><input type="text" value="0" size="3"    /></td>
                <td><input type="text" value="0" size="3"    /></td>
                <td><input type="text" value="0" size="3"    /></td>
                <td><input type="text" value="0" size="3"    /></td>
                <td><input type="text" value="0" size="3"    /></td>
                <td><input type="text" value="0" size="3"    /></td>
                <td><input type="text" value="0" size="3"    /></td>
                <td><input type="text" value="0" size="3"    /></td>
                <td><input type="text" value="0" size="3"    /></td>
            </tr>
            <tr>
                <td>48N</td>
                <td><input type="text" value="0" size="3"    /></td>
                <td><input type="text" value="0" size="3"    /></td>
                <td><input type="text" value="0" size="3"    /></td>
                <td><input type="text" value="0" size="3"    /></td>
                <td><input type="text" value="0" size="3"    /></td>
                <td><input type="text" value="0" size="3"    /></td>
                <td><input type="text" value="0" size="3"    /></td>
                <td><input type="text" value="0" size="3"    /></td>
                <td><input type="text" value="0" size="3"    /></td>
                <td><input type="text" value="0" size="3"    /></td>
                <td><input type="text" value="0" size="3"    /></td>
                <td><input type="text" value="0" size="3"    /></td>
                <td><input type="text" value="0" size="3"    /></td>
            </tr>
            
        </tbody>
    </table>
  <hr />
   <br>
</form>
</div>
</body>
</html>
