<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
 <HEAD>
  <TITLE> Product Create</TITLE>
 <link href="../../css/main.css" rel="stylesheet" type="text/css" />
 <script type="text/javascript" src="../../js/jquery-1.7.2.min.js"></script>
 </HEAD>
<body>
<form action="#">
	<div style="padding:5px;">
<table class="table_A">
        <thead>
                 <tr>
                <td><input type="file" /></td>
                <td>
                </td>
                <td colspan="2">
                	<input type="button" value="upload" class="cls-button" />
					<input type="button" value="review" class="cls-button" />
					<a href="#">template download</a>
                </td>
            </tr>
        </thead>
    </table>
</div>
<div style="padding:0 5px 5px 5px;">
<h4 style="float:left">FullTariffmaintenance List</h4>
<div class="clearboth"></div>
<table class="table_B" width="100%">
        <thead>
            <tr>
                <th >weight</th>
                <th >Zone1</th>
                <th >Zone2</th>
                <th >Zone3</th>
                <th >Zone4</th>
                <th >Zone5</th>
                <th >Zone6</th>
                <th >Zone7</th>
                <th >Zone8</th>
                <th >Zone9</th>
                <th >Zone10</th>
                <th >Zone11</th>
                <th >Zone12</th>
                <th >Zone13</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>0.5</td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>

            </tr>
            <tr>
                <td>1</td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
            </tr>
            <tr>
                <td>1.5</td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
            </tr>
                <td>2</td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>

            </tr>
            <tr>
                <td>2.5</td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
            </tr>
            <tr>
                <td>3</td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
            </tr>
            <tr>
                <td>3.5</td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>

            </tr>
            <tr>
                <td>4</td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
                <td><input type="text" value="" size=3/></td>
            </tr>
        </tbody>
    </table>
</form>
</div>
</body>
</html>
