<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>New PT-Discount Confirmed</title>
</head>
<script language="JavaScript">
	
</script>
<body>
<form action="#">
	<div style="padding:5px;">
<table class="table_A">
        <thead>
             <tr>
                <td style="text-align:center;">Product</td>
                <td>
                	<select>
                		<option>
                					15D/12D/10D/09D
                			</option>
                			<option>
                					15N/12N/10N/09N
                			</option>
                			<option>
                					48N
                			</option>  
                		</select>
                </td>
                <td style="text-align:center;">Zone Type</td>
                <td>
                	<select>
                		<option>
                					13 Zone
                			</option>
                			<option>
                					8 Zone
                			</option>
                		</select>
                </td>
								
            </tr>
            <tr>
            	<td colspan="4" align="right"><input type="button" value="query" class="cls-button"/>
            		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            		<input type="button" value="open file" class="cls-button" onclick="javascript:jQuery.dialog.open('content/DiscountRate/fullTariffUpload.html',{id:'memdiv2',width :740,height :350,title:'fullTariffUpload'})"/>
            		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            		 </td>
            	</tr>
        </thead>
    </table>
</div>
<div style="padding:0 5px 5px 5px;">
<h4 style="float:left">FullTariffmaintenance List</h4>
<div class="clearboth"></div>
<table class="table_B" width="100%">
        <thead>
            <tr>
            		<th width="3%"></th>
                <th >weight</th>
                <th >Zone1</th>
                <th >Zone2</th>
                <th >Zone3</th>
                <th >Zone4</th>
                <th >Zone5</th>
                <th >Zone6</th>
                <th >Zone7</th>
                <th >Zone8</th>
                <th >Zone9</th>
                <th >Zone10</th>
                <th >Zone11</th>
                <th >Zone12</th>
                <th >Zone13</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            	<td></td>
                <td>0.5</td>
                <td><input type="text" value="125" size=3/></td>
                <td><input type="text" value="126" size=3/></td>
                <td><input type="text" value="127" size=3/></td>
                <td><input type="text" value="128" size=3/></td>
                <td><input type="text" value="129" size=3/></td>
                <td><input type="text" value="130" size=3/></td>
                <td><input type="text" value="131" size=3/></td>
                <td><input type="text" value="132" size=3/></td>
                <td><input type="text" value="133" size=3/></td>
                <td><input type="text" value="134" size=3/></td>
                <td><input type="text" value="135" size=3/></td>
                <td><input type="text" value="136" size=3/></td>
                <td><input type="text" value="137" size=3/></td>

            </tr>
            <tr>
            	<td></td>
                <td>1</td>
                <td><input type="text" value="125" size=3/></td>
                <td><input type="text" value="126" size=3/></td>
                <td><input type="text" value="127" size=3/></td>
                <td><input type="text" value="128" size=3/></td>
                <td><input type="text" value="129" size=3/></td>
                <td><input type="text" value="130" size=3/></td>
                <td><input type="text" value="131" size=3/></td>
                <td><input type="text" value="132" size=3/></td>
                <td><input type="text" value="133" size=3/></td>
                <td><input type="text" value="134" size=3/></td>
                <td><input type="text" value="135" size=3/></td>
                <td><input type="text" value="136" size=3/></td>
                <td><input type="text" value="137" size=3/></td>
            </tr>
            <tr>
            	<td></td>
                <td>1.5</td>
                <td><input type="text" value="125" size=3/></td>
                <td><input type="text" value="126" size=3/></td>
                <td><input type="text" value="127" size=3/></td>
                <td><input type="text" value="128" size=3/></td>
                <td><input type="text" value="129" size=3/></td>
                <td><input type="text" value="130" size=3/></td>
                <td><input type="text" value="131" size=3/></td>
                <td><input type="text" value="132" size=3/></td>
                <td><input type="text" value="133" size=3/></td>
                <td><input type="text" value="134" size=3/></td>
                <td><input type="text" value="135" size=3/></td>
                <td><input type="text" value="136" size=3/></td>
                <td><input type="text" value="137" size=3/></td>
            </tr>
            <tr>
            	<td></td>
                <td>2</td>
                <td><input type="text" value="125" size=3/></td>
                <td><input type="text" value="126" size=3/></td>
                <td><input type="text" value="127" size=3/></td>
                <td><input type="text" value="128" size=3/></td>
                <td><input type="text" value="129" size=3/></td>
                <td><input type="text" value="130" size=3/></td>
                <td><input type="text" value="131" size=3/></td>
                <td><input type="text" value="132" size=3/></td>
                <td><input type="text" value="133" size=3/></td>
                <td><input type="text" value="134" size=3/></td>
                <td><input type="text" value="135" size=3/></td>
                <td><input type="text" value="136" size=3/></td>
                <td><input type="text" value="137" size=3/></td>

            </tr>
            <tr>
            	<td></td>
                <td>2.5</td>
                <td><input type="text" value="125" size=3/></td>
                <td><input type="text" value="126" size=3/></td>
                <td><input type="text" value="127" size=3/></td>
                <td><input type="text" value="128" size=3/></td>
                <td><input type="text" value="129" size=3/></td>
                <td><input type="text" value="130" size=3/></td>
                <td><input type="text" value="131" size=3/></td>
                <td><input type="text" value="132" size=3/></td>
                <td><input type="text" value="133" size=3/></td>
                <td><input type="text" value="134" size=3/></td>
                <td><input type="text" value="135" size=3/></td>
                <td><input type="text" value="136" size=3/></td>
                <td><input type="text" value="137" size=3/></td>
            </tr>
            <tr>
            	<td></td>
                <td>3</td>
                <td><input type="text" value="125" size=3/></td>
                <td><input type="text" value="126" size=3/></td>
                <td><input type="text" value="127" size=3/></td>
                <td><input type="text" value="128" size=3/></td>
                <td><input type="text" value="129" size=3/></td>
                <td><input type="text" value="130" size=3/></td>
                <td><input type="text" value="131" size=3/></td>
                <td><input type="text" value="132" size=3/></td>
                <td><input type="text" value="133" size=3/></td>
                <td><input type="text" value="134" size=3/></td>
                <td><input type="text" value="135" size=3/></td>
                <td><input type="text" value="136" size=3/></td>
                <td><input type="text" value="137" size=3/></td>
            </tr>
            <tr>
            	<td></td>
                <td>3.5</td>
                <td><input type="text" value="125" size=3/></td>
                <td><input type="text" value="126" size=3/></td>
                <td><input type="text" value="127" size=3/></td>
                <td><input type="text" value="128" size=3/></td>
                <td><input type="text" value="129" size=3/></td>
                <td><input type="text" value="130" size=3/></td>
                <td><input type="text" value="131" size=3/></td>
                <td><input type="text" value="132" size=3/></td>
                <td><input type="text" value="133" size=3/></td>
                <td><input type="text" value="134" size=3/></td>
                <td><input type="text" value="135" size=3/></td>
                <td><input type="text" value="136" size=3/></td>
                <td><input type="text" value="137" size=3/></td>

            </tr>
            <tr>
            	<td></td>
                <td>4</td>
                <td><input type="text" value="125" size=3/></td>
                <td><input type="text" value="126" size=3/></td>
                <td><input type="text" value="127" size=3/></td>
                <td><input type="text" value="128" size=3/></td>
                <td><input type="text" value="129" size=3/></td>
                <td><input type="text" value="130" size=3/></td>
                <td><input type="text" value="131" size=3/></td>
                <td><input type="text" value="132" size=3/></td>
                <td><input type="text" value="133" size=3/></td>
                <td><input type="text" value="134" size=3/></td>
                <td><input type="text" value="135" size=3/></td>
                <td><input type="text" value="136" size=3/></td>
                <td><input type="text" value="137" size=3/></td>
            </tr>
        </tbody>
    </table>
   <br>    
    <div align="right" >
		
    <input type="button" value="Delete" class="cls-button" onclick="save();"/>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<input type="button" value="Save" class="cls-button"  id="index.html"  onclick="window.location.href='index.html';"/>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	
    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	
    	
</form>
</div>
</body>
</html>
