
<div style="padding:5px;">
	<h4 class="title">Depot-RGM Maintenance-Modify</h4>
    <table class="modify">
        <thead>
        	
            <tr>
            	<th style="text-align:right;">Depot.*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </th>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                	<select style="WIDTH:100px;">
                		<option value="13">
                			BE3
                		</option>
                		<option value="13">
                			CA3
                		</option>	
                		<option value="13">
                			CGO	
                		</option>
                	</select>
                </td>
                <th style="text-align:right;">User Name.*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <td>
                	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" value="BE3_TEST">
                </td>
                
            </tr>
						<tr>
            	<th style="text-align:right;">Mail List *&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </th>
                <td colspan="3" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="text" width="150px" value="be3@test.com"></td>
                
            </tr>
            
            <tr>
            	<td align="right" colspan="4">
            		
            		</td>
            	</tr>
        </thead>
    </table>
	<br />
	<div align="right">
		<input type="button" value="Save" class="cls-button"  id="content/DepotRGN/depotRGNMaintenance.html"  onclick="addContent(this)"/>
            		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            		<input type="button" value="close" class="cls-button"  id="index.html"  onclick="window.location.href='index.html';"/>
            		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</div>
</div>
