
<div style="padding:5px;">
    <table class="table_A">
        <thead>
             <tr>
                <td style="text-align:center;">Depot.</td>
                <td>
                	<select style="WIDTH:100px;">
                		<option value="13">
                			
                		</option>
                		<option value="13">
                			BE3
                		</option>	
                		<option value="13">
                			CA3	
                		</option>
                	</select>
                </td>
								<td style="text-align:center;">User  Name</td>
                <td>
                	<input type="text" />
                </td>                
                <td>
                	<input type="button" value="Query" class="cls-button"  id="content/DepotRGN/depotRGNMaintenance.html" />
                </td>
            </tr>
        </thead>
    </table>
</div>
<div style="padding:0 5px 5px 5px;">
<h4 style="float:left">Depot-RGM List</h4>
<span style="float:right">
<input type="button" value="Add" class="cls-button"  onclick="javascript:jQuery.dialog.open('content/DepotRGN/depotRGNAdd.html',{id:'memdiv',width :740,height :350,title:'Depot-RGMAdd'})"/>
</span>
<div class="clearboth"></div>
<table class="table_B">
        <thead>
            <tr>
                <th width="10%"></th>
                <th width="30%">Depot</th>
                <th width="30%">User Name</th>
                <th width="30%">Mail List</th>
            </tr>
        </thead>
        <tbody>
           
            <tr id="content/DepotRGN/depotRGNModify.html"  ondblclick="addContent(this)" >
            	
                <td></td>
                <td>BE3</td>
                <td>BE3_TEST</td>
                <td>be3@test.com</td>
                
            </tr>
            <tr id="content/DepotRGN/depotRGNModify.html" ondblclick="addContent(this)" >
            	<td></td>
                <td>CA3</td>
                <td>CNRPUCOM_TEST</td>
                <td>morgan.sun@tnt.com</td>
                
            </tr>
            
        </tbody>
    </table>
    
</div>
<script type="text/javascript">
	

</script>

