<div style="padding:5px;">
	<table class="table_A">
    <tr>
      <td>Zone Type:</td>
      <td><select>
	  <option>13 Zones</option>
	  <option>8 Zones</option>
	  </select>
	   <input type="button" value="Query" class="cls-button"/> 
	  </td>
      </tr>
     
  </table>
</div>
  <br>
<div style="padding:0 5px 5px 5px;">
	
<div class="clearboth"></div>
<table class="table_B">
        <thead>
            <tr>
                <th>Zone</th>
                <th>Country Code</th>
                <th>Country Name</th>
                <th>Depot</th>
                <th>48N Availability</th>
                <th>Default Country</th>
            </tr>
        </thead>
        <tbody>
            <tr>
               <td>Zone 1</td>
			   <td>HK</td>
			   <td>HONG KONG</td>
			   <td>HKG</td>
			   <td>Y</td>
			   <td>Y</td>
            </tr>
            <tr>
               <td>Zone 2</td>
			   <td>.....</td>
			   <td></td>
			   <td></td>
			   <td></td>
			   <td></td>
            </tr>
			<tr>
               <td>Zone 3</td>
			   <td></td>
			   <td></td>
			   <td></td>
			   <td></td>
			   <td></td>
            </tr>
			<tr>
               <td>Zone 4</td>
			   <td></td>
			   <td></td>
			   <td></td>
			   <td></td>
			   <td></td>
            </tr><tr>
               <td>Zone 5</td>
			   <td></td>
			   <td></td>
			   <td></td>
			   <td></td>
			   <td></td>
            </tr><tr>
               <td>Zone 6</td>
			   <td></td>
			   <td></td>
			   <td></td>
			   <td></td>
			   <td></td>
            </tr><tr>
               <td>Zone 7</td>
			   <td></td>
			   <td></td>
			   <td></td>
			   <td></td>
			   <td></td>
            </tr><tr>
               <td>Zone 8</td>
			   <td></td>
			   <td></td>
			   <td></td>
			   <td></td>
			   <td></td>
            </tr><tr>
               <td>Zone 9</td>
			   <td></td>
			   <td></td>
			   <td></td>
			   <td></td>
			   <td></td>
            </tr><tr>
               <td>Zone 10</td>
			   <td></td>
			   <td></td>
			   <td></td>
			   <td></td>
			   <td></td>
            </tr><tr>
               <td>Zone 11</td>
			   <td></td>
			   <td></td>
			   <td></td>
			   <td></td>
			   <td></td>
            </tr><tr>
               <td>Zone 12</td>
			   <td></td>
			   <td></td>
			   <td></td>
			   <td></td>
			   <td></td>
            </tr><tr>
               <td>Zone 13</td>
			   <td></td>
			   <td></td>
			   <td></td>
			   <td></td>
			   <td></td>
            </tr>
        </tbody>
    </table>


