<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
 <HEAD>
  <TITLE> Product Create</TITLE>
 <link href="../../css/main.css" rel="stylesheet" type="text/css" />
 <script type="text/javascript" src="../../js/jquery-1.7.2.min.js"></script>
 </HEAD>
  <BODY>
<div style="padding:5px;">
	<h4 class="title">Depot-BSM Maintenance-Create</h4>
    <table class="modify">
        <thead>
        	
            <tr>
            	<th style="text-align:right;">Depot.*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </th>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                	<select style="WIDTH:100px;">
                		<option value="13">
                			
                		</option>
                		<option value="13">
                			SHA	
                		</option>	
                		<option value="13">
                			CGO	
                		</option>
                	</select>
                </td>
                <th style="text-align:right;">User Name.*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                	<input type="text">
                </td>
                
            </tr>
						<tr>
            	<th style="text-align:right;">Mail List *&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </th>
                <td colspan="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                	<input type="text" width="150px"></td>
                
            </tr>
            
           
        </thead>
    </table>
	
	<br />
	<div align="right">
		<input type="button" value="save" class="cls-button"  id="content/DepotBSM/depotBSMaintenance.html"  onclick="addContent(this)"/>
            		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            		<input type="button" value="close" class="cls-button"  id="index.html"  onclick="window.location.href='index.html';"/>
            		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</div>
</div>
 </BODY>
</HTML>