<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
 <HEAD>
  <TITLE> Product Create</TITLE>
 <link href="../../css/main.css" rel="stylesheet" type="text/css" />
 <script type="text/javascript" src="../../js/jquery-1.7.2.min.js"></script>
 </HEAD>
  <BODY>
<div style="padding:5px;">
	<h4 class="title">Country-Zone Create</h4>
    <table class="modify">
        <thead>
        	
            <tr>
            	<th style="text-align:right;">Country Code.*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </th>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text"></td>
                <th style="text-align:right;">Country Name*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </th>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text"></td>
            </tr>
				<tr>
            	  <th style="text-align:right;">Zone.*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <td>
                	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                	<select name="1" style="WIDTH: 80px">
                		<option value="8">
                			13 Zone
                			</option>
                			<option value="13">
                			8 Zone
                			</option>
                		</select>
                <th style="text-align:right;">Zone.*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <td>
                	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                	<select name="1" style="WIDTH: 80px">
                		<option value="HKG">
                			Zone 1
                			</option>
                			<option value="JXO">
                			Zone 2
                			</option>
                			<option value="JXO">
                			Zone 3
                			</option>
                			<option value="JXO">
                			Zone 4
                			</option>
                			<option value="JXO">
                			Zone 5
                			</option>
                			<option value="JXO">
                			Zone 6
                			</option>
                			<option value="JXO">
                			Zone 7
                			</option>
                			<option value="JXO">
                			Zone 8
                			</option>
                			<option value="JXO">
                			Zone 9
                			</option>
                			<option value="JXO">
                			Zone 10
                			</option>
                			<option value="JXO">
                			Zone 11
                			</option>
											
                			<option value="JXO">
                			Zone 12
                			</option>
                			
                			<option value="JXO">
                			Zone 13
                			</option>
                		</select>
                </td>
                
            </tr>
            <tr>
            	<th style="text-align:right;">Ratio*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </th>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text"></td>
              
            </tr>
        </thead>
    </table>
	<br />
	<div align="right">
	<input type="button" value="save" class="cls-button"  id="content/CountryMantenance/countryZoneQuery.html"  onclick="addContent(this)"/>
            		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            		<input type="button" value="close" class="cls-button"  id="index.html" />
            		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	
	</div>
</div>
 </BODY>
</HTML>