
<div style="padding:5px;">
	<h4 class="title">Country-Zone Query</h4>
    <table class="table_A">
        <thead>
        	<tr>
        		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;查询条件</td>
        		</tr>
             <tr>
             		<td style="text-align:center;">Country Code</td>
	                <td>
	                	<select style="WIDTH:80px;">
	                		<option value="13">
	                			
	                		</option>
	                		<option value="13">
	                			AD	
	                		</option>	
	                	</select>
	                </td>
                <td style="text-align:center;">Zone Type</td>
                <td>
                	<select style="WIDTH:80px;">
                		<option value="13">
                			13 Zone	
                		</option>
                		<option value="13">
                			8 Zone	
                		</option>	
                	</select>
                </td>
								
            </tr>
            
             <tr>
                <td style="text-align:center;">Zone.</td>
                <td>
                	<select style="WIDTH:80px;">
                		<option value="">
                			
                		</option>
                		<option value="1">
                			Zone    1
                		</option>
                		<option value="2">
                			Zone	2
                		</option>
                		<option value="3">
                			Zone	3
                		</option>
                		<option value="4">
                			Zone	4
                		</option>
                		<option value="5">
                			Zone	5
                		</option>
                		<option value="6">
                			Zone	6
                		</option>
                		<option value="7">
                			Zone	7
                		</option>
                		<option value="8">
                			Zone	8
                		</option>
                		<option value="9">
                			Zone	9
                		</option>
                		<option value="10">
                			Zone	10
                		</option>
                		<option value="11">
                			Zone	11
                		</option>
                		<option value="12">
                			Zone	12
                		</option>
                		<option value="13">
                			Zone	13
                		</option>
                	</select>
                </td>
                <td colspan="2" align="left">
                	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                	<input type="button" value="Query" class="cls-button"  id="content/CountryMantenance/countryZoneQuery.html"  />
                	</td>
            </tr>
        </thead>
    </table>
</div>
<div>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;查询结果
	</div>
	<br>
<div style="padding:0 5px 5px 5px;">

<div class="clearboth"></div>
<table class="table_B">
        <thead>
            <tr>
                <th width="7%"></th>
                <th width="20%">Country Code</th>
                <th width="20%">Country No.</th>
                <th width="20%">Zone Type</th>
                <th width="20%">Zone</th>
                <th width="13%">Ratio</th>
            
            </tr>
        </thead>
        <tbody>
           
            <tr>
            	
                <td></td>
                <td>HK</td>
                <td>HK</td>
                <td>13 Zone</td>
                <td>Zone 1</td>
                <td>98</td>
            </tr>
            <tr>
            	  <td></td>
                <td>MO</td>
                <td>MO</td>
                <td>13 Zone</td>
                <td>Zone 1</td>
                <td>2</td>
            </tr>
            
        </tbody>
    </table>
</div>
<script type="text/javascript">


</script>

