<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
 <HEAD>
  <TITLE> country GEOZone Create</TITLE>
 <link href="../../css/main.css" rel="stylesheet" type="text/css" />
 <script type="text/javascript" src="../../js/jquery-1.7.2.min.js"></script>
 </HEAD>
  <BODY>
<div style="padding:5px;">
	<h4 class="title">Country-GEOZone Create</h4>
    <table class="modify">
        <thead>
        	
            <tr>
            	<th style="text-align:right;">Country Code.*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </th>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text"></td>
                <th style="text-align:right;">GEOZone Type.*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <td>
                	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                	<select name="1" style="WIDTH: 80px">
                		<option value="">
                			
                			</option>
                		<option value="HKG">
                			Continent 1 
                			</option>
                			<option value="JXO">
                			Continent 2
                			</option>
                			<option value="JXO">
                			Continent 3
                			</option>
                			<option value="JXO">
                			Continent 4
                			</option>
                			
                		</select>
                </td>
                
            </tr>
						<tr>
            	<th style="text-align:right;">Ratio*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </th>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text"></td>
                
            </tr>
        </thead>
    </table>
	
	<br />
	<div align="right">
	<input type="button" value="save" class="cls-button"  id="content/CountryMantenance/countryContinentQuery.html"  onclick="addContent(this)"/>
            		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            		<input type="button" value="close" class="cls-button"  id="index.html"  onclick="window.location.href='index.html';"/>
            		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</div>
</div>
 </BODY>
</HTML>