
<div style="padding:5px;">
	<h4 class="title">Country-Continent Query</h4>
    <table class="table_A">
        <thead>
        	<tr>
        		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;查询条件</td>
        		</tr>
             <tr>
             		<td style="text-align:center;">Country Code</td>
	                <td>
	                	<select style="WIDTH:80px;">
	                		<option value="13">
	                			
	                		</option>
					<option value="13">
	                			CHINA	
	                		</option>
					<option value="13">
	                			MO	
	                		</option>
	                		<option value="13">
	                			AD	
	                		</option>	
	                	</select>
	                </td>
                <td style="text-align:center;">Continent Type</td>
                <td>
                	<select style="WIDTH:100px;">
				<option value="13">
                				
                		</option>
                		<option value="13">
                			2 Continent	
                		</option>
                		<option value="13">
                			1 Continent	
                		</option>	
                	</select>
                </td>
								
            </tr>
            
             <tr>
                
                <td colspan="4" align="right">
			<input type="button" value="Query" class="cls-button"  id="content/CountryMantenance/countryZoneQuery.html"  />
                	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                	
                	</td>
            </tr>
        </thead>
    </table>
</div>
<div>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;查询结果
	</div>
	<br>
<div style="padding:0 5px 5px 5px;">

<div class="clearboth"></div>
<table class="table_B">
        <thead>
            <tr>
                <th width="7%"></th>
                <th width="20%">Country Code</th>
                <th width="20%">Country No.</th>
                <th width="20%">Continent Type</th>
                <th width="13%">Ratio</th>
            
            </tr>
        </thead>
        <tbody>
           
            <tr>
            	
                <td></td>
                <td>HK</td>
                <td>HK</td>
                <td>1 Continent</td>
                <td>32</td>
            </tr>
            <tr>
            	  <td></td>
                <td>CHINA</td>
                <td>CHINA</td>
                <td>2 Continent</td>
                <td>68</td>
            </tr>
            
        </tbody>
    </table>
</div>
<script type="text/javascript">


</script>

