
<div style="padding:5px;">
    <table class="table_A">
        <thead>
             <tr>
                <td style="text-align:center;">GEOZone Type</td>
                <td>
                	<select style="WIDTH:130px;">
                		<option value="1">
                			2 GEOZone	
                		</option>
                		<option value="2">
                			1 GEOZone	
                		</option>
                		<option value="3">
                			3 GEOZone	
                		</option>
                		<option value="4">
                			4 GEOZone	
                		</option>
                		<option value="5">
                			5 GEOZone	
                		</option>
                		<option value="6">
                			6 GEOZone	
                		</option>
                		<option value="7">
                			7 GEOZone	
                		</option>
                	</select>
                </td>
			<td ><input type="button" value="Query" class="cls-button" />
			</td>
            </tr>
        </thead>
    </table>
</div>
<div style="padding:0 5px 5px 5px;">
<h4 style="float:left">Country-GEOZone List</h4>
<span style="float:right"><input type="button" value="Add" class="cls-button" onclick="javascript:jQuery.dialog.open('content/CountryMantenance/countryContinentAdd.html',{id:'memdiv',width :740,height :350,title:'countryGEOZoneAdd'})"/>
                	&nbsp;&nbsp;&nbsp;
<input type="button" value="Save" class="cls-button"/>
                	&nbsp;&nbsp;&nbsp;
<input type="button" value="Delete" class="cls-button"  /></span>
<div class="clearboth"></div>
<table class="table_B">
        <thead>
            <tr>
                <th width="8%"></th>
                <th width="20%">Country Code</th>
                <th width="20%">GEOZone Type</th>
                <th width="20%">Ratio</th>
            
            </tr>
        </thead>
        <tbody>
           
            <tr>
            	
                <td></td>
                <td><input type="text" value="HK" /></td>
                <td>2 GEOZONE</td>
                <td><input type="text" value="98" /></td>
            </tr>
            <tr>
            	  <td></td>
                <td><input type="text" value="MO" /></td>
                <td>2 GEOZONE</td>
                <td><input type="text" value="2" /></td>
            </tr>
            
        </tbody>
    </table>
    <br>

    <!--<div style="text-align:right;">
    	
    <input type="button" value="Save" class="cls-button" onclick="save();"/>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<input type="button" value="close" class="cls-button"  id="index.html"  onclick="window.location.href='index.html';"/>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	
    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	
    	
    </div>-->
</div>
<script type="text/javascript">
	


</script>

