<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新增页面</title>
</head>
<body>
<form action="#">
  <h4 class="title">what's up</h4>
  <table class="modify">
    <tr>
      <th>Application Data:</th>
      <td><input type="text" /></td>
      <th>Depot:</th>
      <td><input type="text" /></td>
    </tr>
    <tr>
      <th>A new PT Customer?</th>
      <td><input type="text" /></td>
      <th>Territory:</th>
      <td><input type="text" /></td>
    </tr>
    <tr>
      <th>Account#:</th>
      <td><input type="text" /></td>
      <td colspan="2" style="color:#FF9900">("7777777"refer to new customer)</td>
    </tr>
    <tr>
      <th>Customer Name</th>
      <td><input type="text" /></td>
      <th>Channel:</th>
      <td><select >
          <option value="">TSM</option>
        </select></td>
    </tr>
    <tr>
      <th>Customer Name</th>
      <td colspan="3"><select >
          <option value="">ServiceIndustry(Advertising,Media,Agency,Laws)</option>
        </select></td>
    </tr>
    <tr>
      <th>Current Service Provider</th>
      <td colspan="3"><input type="text" /></td>
    </tr>
    <tr>
      <td colspan="4">(If this Customer is already a TNT customer,please provide volumn % they give to TNT)</td>
    </tr>
  </table>
  <table class="modify">
    <tr>
      <th>Is the customer on fuel surcharge exemption or deduction now?</th>
      <td><select >
          <option value="">No</option>
        </select></td>
      <th>the Current fuel surcharge</th>
      <td>Per FS Index</td>
    </tr>
    <tr>
      <th>Are you requesting for fuel surcharge exemption or deduction now?</th>
      <td><select >
          <option value="">No</option>
        </select></td>
      <th>the fuel surcharge requested</th>
      <td>Per FS Index</td>
    </tr>
    </tr>
    
  </table>
  <table class="modify">
    <tr>
      <th>Terms of Payment:</th>
      <td colspan="3"><select >
          <option value="">SenderPays</option>
        </select></td>
    </tr>
    <tr>
      <th>Is customer a mainly document sender?</th>
      <td><select >
          <option value="">No</option>
        </select></td>
      <th>Cons/Stop</th>
      <td>232</td>
    </tr>
     <tr>
      <th>Prdouct Description(eg:digital cameral)</th>
      <td colspan="3"><input type="text" value="Test DC"></td>
    </tr>
     <tr>
      <th>Reson for the PT:</th>
      <td colspan="3">
      	<textarea style="width:400px; height:100px">test only</textarea>
      </td>
    </tr>
  </table>
  <span style="color:blue">*Frames highlighted by yellow must be filled in</span>
  <hr />
  <table class="modify">
  <tr>
   <input type="button" value="submit" class="cls-button" /> &nbsp;&nbsp;&nbsp;<input type="button" value="close" class="cls-button" />
   </tr>
   </table>
</form>

</body>
</html>
