
<div style="padding:5px;">
	<h4 class="title">Chargeable Weight Band</h4>
    <table class="table_A">
        <thead>
             <tr>
                <td><input type="text" value="loginName"/>
                <input type="text" value="userName"/>
                <input type="text" value="operateName"/>
                <input type="button" value="query" class="cls-button"/>
                
                </td>
            </tr>
        </thead>
    </table>
</div>
<div style="padding:0 5px 5px 5px;">
<h4 style="float:left">Log List</h4>
<span style="float:right"><input type="button" value="add" class="cls-button" id="content/ChargeableWeightBand/add.html"  onclick="addContent(this)"/></span>
<div class="clearboth"></div>
<table class="table_B">
        <thead>
            <tr>
                
                <th style="text-align:left;"><input name="" type="checkbox" value="" /></th>
                <th>loginName</td>
                <th>userName</th>
                <th>operateName</td>
                <th>date</th>
                <th>IP dress</td>
                <th>Is success</td>
                <th>remarks</td>
            
            </tr>
        </thead>
        <tbody>
           
            <tr>
            	<td><input name="" type="checkbox" value="" /></td>
                <td>user</td>
                <td>user</td>
                <td>login</td>
                <td>2010-10-08 15：30：00</td>
                <td>192.168.18.62</td>
                <td>successful</td>
                <td><a href="#">remarks</a></td>
            </tr>
            <tr>
            	<td><input name="" type="checkbox" value="" /></td>
                <td>user</td>
                <td>user</td>
                <td>login</td>
                <td>2010-10-08 15：30：00</td>
                <td>192.168.18.62</td>
                <td>successful</td>
                <td><a href="#">remarks</a></td>
            </tr>
            <tr>
            	<td><input name="" type="checkbox" value="" /></td>
                <td>user</td>
                <td>user</td>
                <td>login</td>
                <td>2010-10-08 15：30：00</td>
                <td>192.168.18.62</td>
                <td>successful</td>
                <td><a href="#">remarks</a></td>
            </tr>
            <tr>
            	<td><input name="" type="checkbox" value="" /></td>
                <td>user</td>
                <td>user</td>
                <td>login</td>
                <td>2010-10-08 15：30：00</td>
                <td>192.168.18.62</td>
                <td>successful</td>
                <td><a href="#">remarks</a></td>
            </tr>
            <tr>
            	<td><input name="" type="checkbox" value="" /></td>
                <td>user</td>
                <td>user</td>
                <td>login</td>
                <td>2010-10-08 15：30：00</td>
                <td>192.168.18.62</td>
                <td>successful</td>
                <td><a href="#">remarks</a></td>
            </tr>
            <tr>
            	<td><input name="" type="checkbox" value="" /></td>
                <td>user</td>
                <td>user</td>
                <td>login</td>
                <td>2010-10-08 15：30：00</td>
                <td>192.168.18.62</td>
                <td>successful</td>
                <td><a href="#">remarks</a></td>
            </tr>
            <tr>
            	<td><input name="" type="checkbox" value="" /></td>
                <td>user</td>
                <td>user</td>
                <td>login</td>
                <td>2010-10-08 15：30：00</td>
                <td>192.168.18.62</td>
                <td>successful</td>
                <td><a href="#">remarks</a></td>
            </tr>
            <tr>
            	<td><input name="" type="checkbox" value="" /></td>
                <td>user</td>
                <td>user</td>
                <td>login</td>
                <td>2010-10-08 15：30：00</td>
                <td>192.168.18.62</td>
                <td>successful</td>
                <td><a href="#">remarks</a></td>
            </tr>
            
        </tbody>
    </table>
</div>

