
<div style="padding:5px;">
	<h4 class="title">Chargeable Weight Band</h4>
    <table class="table_A">
        <thead>
        	<tr>
        		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;查询条件</td>
        		</tr>
             <tr>
                <td>Product</td>
                <td>
                	<select name="1">
                		<option value="D">
                			15D/12D/10D/09D
                			</option>
                			<option value="N">
                			15N/12N/10N/09N
                			</option>
                			<option value="48N">
                			48N
                			</option>
                		</select>
                </td>
                <td><input type="button" value="Create WeightBand Set" class="cls-button" /></td>
            </tr>
        </thead>
    </table>
</div>
<div>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;查询结果
	</div>
	<br>
<div style="padding:0 5px 5px 5px;">

<div class="clearboth"></div>
<table class="table_B">
        <thead>
            <tr>
                <th width="40"></th>
                <th>Product</th>
                <th>Name</th>
                <th>Remark</th>
                <th>Is Available</th>
            
            </tr>
        </thead>
        <tbody>
           
            <tr id="content/ChargeableWeightBand/weightBandCreate.html" ondblclick="addContent(this)">
            	
                <td></td>
                <td>15D/12D/10D/09D</td>
                <td>13Zone/15D</td>
                <td>WeightBand for</td>
                <td><input name="" type="checkbox" checked="true" /></td>
            </tr>
            <tr id="content/ChargeableWeightBand/weightBandCreate.html" ondblclick="addContent(this)">
            	<td></td>
                <td>15D/12D/10D/09D</td>
                <td>11</td>
                <td>WeightBand for</td>
                <td><input name="" type="checkbox"/></td>
            </tr>
            <tr id="content/ChargeableWeightBand/weightBandCreate.html" ondblclick="addContent(this)">
            	<td></td>
                <td>15D/12D/10D/09D</td>
                <td>13</td>
                <td></td>
                <td><input name="" type="checkbox"  checked="true"/></td>
            </tr>
        </tbody>
    </table>
</div>

