<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
 <HEAD>
  <TITLE> HW WIEGHT BAND CREATE</TITLE>
 <link href="../../css/main.css" rel="stylesheet" type="text/css" />
 <script type="text/javascript" src="../../js/jquery-1.7.2.min.js"></script>
 </HEAD>
  <BODY>
<div style="padding:5px;">
	<h4 class="title">High WIEGHT BAND CREATE</h4>
    <table class="modify">
        <thead>
			<tr>
				<th style="text-align:right;">name*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </th>
                <td><input type="text">
                </td>
            	<th style="text-align:right;">Chargeable Weight*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </th>
                <td><input type="text">
                </td>
                
            </tr>
			<tr>
            	<th style="text-align:right;">From*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </th>
                <td><input type="text" disabled="true" id="from"></td>
                <th style="text-align:right;">To*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <td><input type="text" disabled="true" id="to">
                </td>
                
            </tr>
            <tr>
            	<th style="text-align:right;">Add On Weight Int&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <td colspan="3"><input type="text" id="AOWI" disabled="true"></td>
                
            </tr>
            <tr>
            	<td align="right" colspan="4">
            		<input type="button" value="save" class="cls-button"  id="content/ChargeableWeightBand/weightBandCreate.html"  onclick="addContent(this)"/>
            		<input type="button" value="close" class="cls-button"  id="index.html"  onclick="window.location.href='index.html';"/>
            		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            		</td>
            	</tr>

        </thead>
    </table>
</div>
 </BODY>
</HTML>