<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
 <HEAD>
  <TITLE> Product Create</TITLE>
 <link href="../../css/main.css" rel="stylesheet" type="text/css" />
 <script type="text/javascript" src="../../js/jquery-1.7.2.min.js"></script>
 </HEAD>
  <BODY>
<div style="padding:5px;">
    <table class="table_A">
        <thead>
             <tr>
                <td><input type="file" /></td>
                <td>
                </td>
                <td colspan="2">
                	<input type="button" value="upload" class="cls-button" />
					<input type="button" value="review" class="cls-button" />
                </td>
            </tr>
        </thead>
    </table>
</div>
<table class="table_B">
        <thead>
            <tr>
			    			<th>name</th>
                <th>Chargeable Weight</th>
                <th>From</th>
								<th>To</th>
								<th>Add On Weight Int</th>
								<th>create date</th>
            </tr>
        </thead>
    </table>
</div>
 </BODY>
</HTML>
