<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="org.tnt.pt.repository.CountryDao">
	

	<select id="get" parameterType="int" resultType="Country">
		select * from pt_country where id=#{id}
	</select>
	
	
	<!-- 查询用户,演示: 1.输入用map传入多个参数 2.<where>语句, 智能添加where和and关键字 3.输出直接映射对象 -->
	<select id="findAll" parameterType="map" resultType="Country">
		select * from pt_country 
	</select>
	
	<select id="getAllCountryByZoneGroupId" parameterType="Long" resultType="Country">
		select pc.* from pt_country pc left join pt_country_zone pcz on pc.id = pcz.countryid  
		    where pcz.zonegroupId = #{zoneGroupId}
	</select>
	
	<!-- 获取是重货的国家 -->
	<select id="findByCode" parameterType="java.lang.String" resultType="Country">
		select pc.* from pt_country  pc where pc.COUNTRYCode  like '%'||#{countryCode}||'%'  and pc.ISHEAVY = 0
	</select>
	
	<!-- 获取是重货的国家 -->
	<select id="findBy15NCode" parameterType="java.lang.String" resultType="Country">
		select pc.* from pt_country  pc where pc.COUNTRYCode  like '%'||#{countryCode}||'%'   <!--and pc.ISHEAVY = 0 and pc.IS15NAVAILABLE = 0 -->
	</select>
	
	<!-- 获取是重货的国家 -->
	<select id="findBy48NCode" parameterType="java.lang.String" resultType="Country">
		select pc.* from pt_country  pc where pc.COUNTRYCode  like '%'||#{countryCode}||'%'   <!--and pc.ISHEAVY = 0 and pc.IS48NAVAILABLE = 0-->
	</select>
	
	<!-- 根据countryCode获取id -->
	<select id="getIdByCountryCode" parameterType="java.lang.String" resultType="long">
		select id from pt_country  pc where pc.COUNTRYCode  = #{countryCode}
	</select>
</mapper> 
