<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="org.tnt.pt.repository.SpecificCountryDao">

	<select id="get" parameterType="int" resultType="SpecificCountry">
		select * from pt_specificCountry where id=#{id}
	</select>
	
	
	<select id="findAll" parameterType="map" resultType="SpecificCountry">
		select * from pt_specificCountry 
	</select>
	
	<select id="findAllCountry" parameterType="SpecificCountry" resultType="SpecificCountry">
		select * from pt_specificCountry 
		<where>
			<if test="businessId != null">
				businessId=#{businessId}
			</if>
			<if test="productId != null">
				and productId=#{productId}
			</if>
			<if test="zoneGroupId != null">
				and zoneGroupId=#{zoneGroupId}
			</if>
		</where>
	</select>
	
	<select id="getCountryIds" parameterType="map" resultType="Long">
		select distinct(COUNTRYID) from pt_specificCountry 
		<where>
			<if test="businessId != null">
				businessId=#{businessId}
			</if>
			<if test="zoneGroupId != null">
				and zoneGroupId=#{zoneGroupId}
			</if>
		</where>
	</select>
	
	<delete id="deleteSpecificCountryList" parameterType="SpecificCountry">
	     delete from pt_specificCountry 
	     <where>
			<if test="businessId != null">
				businessId=#{businessId}
			</if>
			<if test="payment != null">
				and  payment=#{payment}
			</if>
		</where>
	</delete>
	
		
	<insert id="batchInsert" parameterType="java.util.List">
		insert into pt_specificCountry (id,COUNTRYID,BUSINESSID,PRODUCTID,ZONEGROUPID,payment) select SEQ_specificCountry.NEXTVAL,A.* from (
		<foreach collection="list" item="item" index="index" separator="union" >
			select #{item.countryId},#{item.businessId},#{item.productId},#{item.zoneGroupId},#{item.payment} from dual
		</foreach>
		) A
	</insert>
	
	<delete id="delete" parameterType="Long">
		delete from  pt_specificCountry where businessid=#{ids}
	</delete>
</mapper> 

