@charset "utf-8";



.show_hide {
	background: #fff url(../images/btn_show_hide.jpg);
	width: 220px;
	min-width:220px;
	float: left;
	position: fixed;
}
.show_hide a ,.btn_show_hide{
	height:28px;
	line-height:28px;
	padding:0 10px;
	color:#fff;
	text-decoration:none;
	display:block;
	float:left;
}
.btn_show_hide{
	color:#000;
}

.show_hide a:hover ,.btn_show_hide:hover{
	color:#fff;
	text-decoration: underline;
}
.btn_show_hide:hover{
	color:#FB8640;
}

.show_hide .btn_all_show, .show_hide .btn_all_hide { padding-left:30px; }
.show_hide .btn_all_show { background:url(../images/icon.png) no-repeat 10px -17px; }
.show_hide .btn_all_hide { background:url(../images/icon.png) no-repeat 10px 7px; }
.menu_sub{
	margin-top:28px;
	_margin-top:0px;
}
.menu_sub dl dt {
	padding-left:30px;
	background:url(../images/icon.png) no-repeat 10px -70px;
	height:25px;
	line-height:25px;
	cursor:pointer;
}
.menu_sub dl dd {
	padding-left:50px;
	background:url(../images/icon.png) no-repeat 28px -95px;
	height:25px;
	line-height:25px;
}

.menu_sub dl dd a {
	text-decoration:none;
	color:#000;
}

.menu_sub dl dd a.selected{text-decoration:underline;color:#F98F51;}

.menu_sub .icon { background:url(../images/icon.png) no-repeat 10px -44px; }
.menu_breadcrumbs li {
	line-height:25px;
	height:25px;
	float:left;
	padding:0 10px;
	background:url(../images/arrow.gif) no-repeat right center;
}
.menu_breadcrumbs li+li+li{background:none;}


