table {
	width:100%;
	border-collapse:collapse;
	border:1px solid #ccc;
}

th, td {
	border:1px solid #ccc;
	height:25px;
	line-height:25px;
	padding:0 0px;
}
.aui_border th,.aui_border td{
	border:0 none;
	height:auto;
}
thead th {
	text-align:left;
	background:url(../images/thead_th.gif) repeat-x;
}
.table_B thead th {
	text-align:left;
	background:url(../images/datatitle_bg.gif) repeat-x;
}
.table_A{
	text-align:left;
	background:url(../images/searchbox_bgcolor.gif) repeat-x;
}

.modify tr th, .modify tr td {
	text-align:left;
	font-size:14px;
}
.modify tr th {
	background:#EFEFEF;
}
h4.title {
	background-color:#F16E1E;
	height:20px;
	font-size:15px;
	color:#fff;
}

.cls-button{/*按钮样式*/
    background:url(../images/091722_btn_bg.gif) repeat-x;
	height:22px;
	border:1px solid #aa3535;
	font-size:15px;
	color:#fff;
	margin:0 10px;
	padding:0 3px 3px 3px;
	cursor: pointer;
	text-align:center;	
}


.cls-button:hover{/*按钮样式*/
    background:url(../images/btn_hover.gif) repeat-x;
	height:22px;
	border:1px solid #aa3535;
	font-size:15px;
	color:#fff;
	margin:0 10px;
	padding:0 3px 3px 3px;
	cursor: pointer;
	text-align:center;	
}

/*tbody th {
	text-align:right;
	background:#f7f7f7;
	font-weight:normal;
}*/

.table_B tbody th {
	text-align:center;
	font-weight:bold;
}

